@charset "utf-8";
/* CSS Document */
.y {
	font-family: Verdana, Geneva, sans-serif;
}
.y {
	font-family: Verdana, Geneva, sans-serif;
	color: #CCC;
}
.t {
	background-color: #6FC;
}
.div {
	font-size: large;
}
.div {
	font-size: large;
}
.t:hover
{ 
background-color:yellow;
}